.loginBtn{
    
    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    font-weight: bold;
    transition:  0.3s ease;
    display: flex;
    justify-content: center;  
    align-items: center; 
    gap: 5px;
    size: 10px;
    
    
}
.loginBtn button{
padding: 8px 12px;
      border: none;
      background-color: rgba(100, 100, 100, 0.542);
      color: rgb(255, 255, 255);
      font-weight: bold;
      cursor: pointer;
      border-radius: 4px;
      transition: 0.3s ease;
      font-size: 20px;
}
.loginBtn button:hover{
    background-color: rgb(114, 255, 203);
}







/* Logout Button Styles */
.logoutBtn{
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 50;
    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    font-weight: bold;
    transition: 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logoutBtn button{
    padding: 8px 12px;
    border: none;
    background-color: rgba(100, 100, 100, 0.542);
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.3s ease;
    font-size: 20px;
}
.logoutBtn button:hover{
    background-color: rgb(114, 255, 203);
}






/* login input fields */
.logInField{
    margin: auto;
    width: fit-content;
}