body {
    font-family: Arial, sans-serif;
    margin: 30px;
}

h2{
    color: rgb(75, 75, 75);
}
.navBar{
    background-color: aliceblue;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.buttonRow{
    display: flex;
    gap: 10px;
    align-items: center;
}
.buttonRow button{
    padding: 8px;
    border: none;
    background-color: rgb(90, 146, 194);
    color: aliceblue;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}
.buttonRow button:hover{
    background-color: rgb(111, 162, 206);
}
#balance{
    margin-left: auto;
    font-weight: bold;
    fon
}